/*--RWD Screen Sizes--*/

@import url('smallest.css');
@import url('smaller.css');
@import url('tablet.css');
@import url('desktop.css');

/*--Home page bottom section--*/

.about_header {
  background-color: #01AEA8;
  color: #fff;
  width: 80%;
  overflow: auto;
}
.about_pic {
  float: left;
  padding: .5em 1em .5em .5em;
}
.about_top {
  border-bottom: 1.5px solid #fff;
  display: flex;
  padding-top: .5em;
  margin: 0 1em .5em .5em;
}
.about_top p {
  float: left;
  margin-right: .5em;
  margin-top: .8em;
  font-size: 20px;
}
.blog_main {
  padding: 0;
  margin: 0;
  width: 80%;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row;
	flex-flow: row;
  justify-content: space-around;
}
.blog_cont1 {
  padding: 5px;
  width: 451px;
  margin-right: .6em;
  height: 200px;
  margin-top: 20px;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  color:#1c6576;
}
.blog_cont2 {
  padding: 5px;
  width: 451px;
  height: 200px;
  margin-top: 20px;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  color:#1c6576;
}
.blog_post {
  border: 2px solid #63cac6;
  line-height: 160px;
  margin-bottom: 5px;
  transition: all 0.2s ease;
}
.blog_post:hover{
	background-color:#dff4ef;
}
.blog_read {
	color:#1c6576;
  line-height: 40px;
  background-color: #84e4fa;
  transition: all 0.2s ease;
  transition: background 0.2s ease;
}
.blog_read:hover{
	background-color:#3fd5f7;
}
.categ_main{
	padding: 0;
	margin: 0;
	width: 100%;
	list-style: none;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row;
	flex-flow: row;
	justify-content: space-around;
}
.categ_holder{
	padding: 5px;
  width: 23%;
  height: 200px;
  margin-top: 20px;
  text-align: center;
  background-color: #01aea8;
}
.categ_img{
	border:1px solid white;
}
.categ_name{
	border:1px solid red;
}
.categ_name h2 {
	color:#fff;
	font-size: 30px;
	font-family:"Archivo Narrow";
}

/*	.about_ad{
		float:left;
		width:160px;
		height:300px;
		border:1px solid red;
	}
	*/
