/*Header Rules*/
	/*--Main Navigations--*/

	/*ul id=menu-main-nav, class=.main_nav, li id=main-item-#num,ul submenu class=sub-menu*/
	#header nav ul{
		list-style:none;
	    margin:0 auto .5em;
	}
	#header nav ul li{
		border-left: 1px solid #ccc;
		border-top: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
	    float:left;
	    width:162px;
	    margin-bottom:.5em;
	}
	/*Mouse hover on li elements*/
	#header nav ul li:hover > ul.sub-menu{display:block;}
	a:hover{color:green;}
	#header nav ul li:last-child{border-right: 1px solid #ccc;}
	#header nav ul li a{
		font-size:11pt;
	    display: block;
	    text-align:center;
	    height:38px;
	    padding-top:.8em;
	}
	#header nav ul ul.sub-menu{
		display:none;
		float:left;
		width:100px;
		position:absolute;
		z-index:2;
	}
	#header nav ul.sub-menu li{
		width:100%;
		height:20px;
		border:1px solid #ccc;
		margin:0;
	}
	#header nav ul.sub-menu li a{}
	

	.clear{clear:both;}

/*Body Rules*/
	/*Left Sidebar Rules*/
		/*--Left Navigations--*/
	/*Content Rules*/

	/*Right Sidebar Rules*/
		/*--Right Navigations--*/
/*Footer Rules*/
	/*--Footer Navigations--*/
