@media screen and (min-width:1200px){
	#page-wrap{
		width:1200px;
		margin:0 auto;
		padding:0;
		border: none;
	}
	#header{}
		/*--Main Navigations--*/
		a{text-decoration:none;}
			/*--Logo and Banner--*/
			#header .logo h1 a span#blogname{text-indent: -9999px;position:absolute;}
			/*--Banner with Ad--*/
			#header .logo{width:99.5%;margin:.2em auto;padding-bottom:.6em;}	
			#header .logo h1{width:335px;height:70px;float:left;margin:1.5em 0 0 0;}
			#header .logo img.hormone{position:relative;top:-7em;left:23em;}
			#header .logo span{margin:2px;display: block;margin-top:-.6em;}
			#header .logo span h2{font-size:10pt;text-align:center;color:#505050;}
			#header .logo .dbm_ad{border:1px solid gray;width:728px;height:90px;float:right;margin-top:1.5em;}	
		/*ul id=menu-main-nav, class=.main_nav, li id=main-item-#num,ul submenu class=sub-menu*/
		#header ul{
			list-style:none;
		    margin:0 auto .5em;
		    /*border: 1px solid #1EAB8F;*/
		    background:#1EAB8F url('../images/bg-nav2.png') repeat-x 0 0 scroll;
		    float:left;
		    width:99.8%;
		    height:47px;
		    border-top:5px solid #87EAD6; 
		   	border-bottom:5px solid #87EAD6; 
		   	-webkit-box-shadow:2px 2px 2px -1px #67AA9A;
			-moz-box-shadow:2px 2px 2px -1px #67AA9A;
			box-shadow:2px 2px 2px -1px #67AA9A;
		}
		#header ul li{
		    float:left;
		    width:163px;
		    margin-bottom:.5em;
		    /*border-right:2px solid #7BE3CE;*/
		}
		/*--Vitamins and Supplements--*/
		#header ul li#menu-item-18{
			width:205px;
		}
		#header ul li#menu-item-119{
			width:173px;
		}
		#header ul li:first-child a{background-image: none;}
		#header ul li:last-child a{padding-left:.3em;}
		#header ul li a{
			font-size:12pt;
		    display: block;
		    text-align:center;
		    /*padding-top:.8em;*/
		    height:28px;
		    color:#C8FFF4;
		    font-family:"Khmer UI",arial;
		    margin:.6em 0 0 0;
		    padding-top:2px;
		    background:url('../images/border-right.png') no-repeat 0 0 scroll;
		}
		/*Mouse hover on li elements*/
		/*#header ul li:hover > ul.sub-menu{display:block;}*/
		#header ul li:hover{
			background-color:#D55D81;
			height:47px;
			cursor:pointer;
			z-index:30;
			position: relative;
		}
		/*--Selected li elements--*/
		.selected{
			background-color:#A74C6B;
			height:47px;
			padding-left:-2px;
		}
		/*#header ul ul.sub-menu{display:none;float:left;width:100px;position:absolute;z-index:2;}
		#header ul.sub-menu li{width:100%;height:20px;border:1px solid #ccc;margin:0;}
		#header ul.sub-menu li a{}*/
		.clear{clear:both;}

	/*--Home container--*/
	#home-container{
		/*border: 1px solid #ccc;
		width:99%;
		margin:0 auto;*/
	}
	.upper-content{border: 1px solid red;padding: 5px;margin: 1em;}
	.antiAging{text-align:center;width:275px;height:430px;padding-left: 2px;background:#AEE2D6;}
	.aa_title{margin-top: .5em;}
	h3#aa_font{color: #295A4F;font-size: 17pt;font-family: arial;}
	h3#aa_sfont{color: #295A4F;font-family:arial;font-weight: bold;font-size: 10pt;}
	h3#aa_rate{color: #CE5D72;font-family:arial;font-weight: bold;font-size: 10pt;text-align: left;margin: 1em 0 0 1em;}
	.more_info{margin-top: 1em;}
	.aa_center{text-align:center;width:570px;height:430px;background:#AEE2D6;margin: -29.35em 0 0 19.5em;}
	.aa_center img{width:550px;height:415px;margin: .5em;}
	.ais{text-align:center;width:275px;height:430px;padding-left: 2px;background:#AEE2D6;margin: -29.3em 0 0 59em;}
	.mid-content:after{content:"";display: block;clear:both;}
	.side-navigation{font-family:'Arial Narrow';width:200px;float:right;}
	.hlf-best-sellers{width:80%;float:left;margin:25px 0; }
	.side-navigation ul{margin-top:4em;list-style-type: none;}
	.side-navigation ul li{
		border:2px solid #4EC7E4;
		text-align: center;
		margin:.2em 0;
		height:35px;
		padding:1em;
		background-color: #006BAF;
		line-height: 1;
	}
	.side-navigation ul li:hover{background-color: #26B0D4;}
	.side-navigation ul li a{color:#fff;font-size:18px;/*font-weight: bold;*/}
	.side-navigation ul li:first-of-type, .side-navigation ul li:last-of-type{line-height: 2.2;}
	.hlf-bestsellers-header {
		text-align: center;
		color:#fff;
		padding:.25em;
		font-size:26px;
		margin-bottom:.5em;
	}
	/*gradient*/
	.hlf-home-blue-gradient{
		background: rgb(255,255,255);
		background: -moz-linear-gradient(left,  rgba(255,255,255,1) 5%, rgba(4,143,176,1) 50%, rgba(255,255,255,1) 95%);
		background: -webkit-gradient(linear, left top, right top, color-stop(5%,rgba(255,255,255,1)), color-stop(50%,rgba(4,143,176,1)), color-stop(95%,rgba(255,255,255,1)));
		background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 5%,rgba(4,143,176,1) 50%,rgba(255,255,255,1) 95%);
		background: -o-linear-gradient(left,  rgba(255,255,255,1) 5%,rgba(4,143,176,1) 50%,rgba(255,255,255,1) 95%);
		background: -ms-linear-gradient(left,  rgba(255,255,255,1) 5%,rgba(4,143,176,1) 50%,rgba(255,255,255,1) 95%);
		background: linear-gradient(to right,  rgba(255,255,255,1) 5%,rgba(4,143,176,1) 50%,rgba(255,255,255,1) 95%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 );
	}
	/*--Footer--*/
	#footer{
		background-color: #008CAF;
		padding:.5em;
	}
	#footer ul{
		list-style:none;
		margin:.5em auto .5em;
		width:90%;
	}
	#footer ul li{
		width:140px;
		float:left;
		text-align:center;
	}
	#footer ul li#menu-item-160{width:260px;}
	#footer ul li a,#footer h5{color:#fff;font-size:13pt; font-family:"Myriad Pro",arial;}
	#footer h5{
		font-size:12pt;
		text-align:center;
		width:31%;
		margin:0 auto;
	}
	#footer h5 a:hover{
		color:#01AEA8;
	}
}