@media screen and (min-width:1200px){
	#page-wrap{width:1200px;margin:0 auto;padding:0;border: none;}
	#header{}
		/*--Main Navigations--*/
			a{text-decoration:none;}
			/*--Logo and Banner--*/
			#header .logo h1 a span#blogname{text-indent: -9999px;position:absolute;}
			/*--Banner with Ad--*/
			#header .logo{width:99.5%;margin:.2em auto;padding-bottom:.6em;}	
			#header .logo h1{width:335px;height:70px;float:left;margin:1.5em 0 0 0;}
			#header .logo img.hormone{position:relative;top:-7em;left:23em;}
			#header .logo span{margin:2px;display: block;margin-top:-.6em;}
			#header .logo span h2{font-size:10pt;text-align:center;color:#505050;}
			#header .logo .dbm_ad{border:1px solid gray;width:728px;height:90px;float:right;margin-top:1.5em;}	
		/*ul id=menu-main-nav, class=.main_nav, li id=main-item-#num,ul submenu class=sub-menu*/
		#header ul{
			list-style:none;
		    margin:.8em auto .5em;
		    /*border: 1px solid #1EAB8F;*/
		    background:#1EAB8F url('../images/bg-nav2.png') repeat-x 0 0 scroll;
		    float:left;
		    width:99.8%;
		    height:47px;
		    border-top:5px solid #87EAD6; 
		   	border-bottom:5px solid #87EAD6; 
		   	-webkit-box-shadow:2px 2px 2px -1px #67AA9A;
			-moz-box-shadow:2px 2px 2px -1px #67AA9A;
			box-shadow:2px 2px 2px -1px #67AA9A;
		}
		#header ul li{float:left;width:163px;margin-bottom:.5em;}
		/*--Vitamins and Supplements--*/
		#header ul li#menu-item-18{width:205px;}
		#header ul li#menu-item-119{width:177.5px;}
		#header ul li:first-child a{background-image: none;}
		#header ul li:last-child a{padding-left:.3em;}
		#header ul li a{
			font-size:12pt;
		    display: block;
		    text-align:center;
		    /*padding-top:.8em;*/
		    height:28px;
		    color:#C8FFF4;
		    font-family:"Khmer UI",arial;
		    margin:.6em 0 0 0;
		    padding-top:2px;
		    background:url('../images/border-right.png') no-repeat 0 0 scroll;
		}
		/*Mouse hover on li elements*/
		#header ul li:hover > ul.sub-menu{display:block;}
		#header ul.sub-menu li a:hover{background-color:#018984; }
		#header ul ul.sub-menu{display:none;width:97%;position:relative;z-index:2;background-color:none;border:none;height:6em;margin:.2em 0 0 .2em;}
		#header ul ul.sub-menu li{width:98%;height:43px;margin:0 auto;border-top: 2px solid #7BE5FF;border-right: 2px solid #7BE5FF;border-left: 2px solid #7BE5FF;background-color:#01AEA8;}
		#header ul ul.sub-menu li#menu-item-193,#header ul ul.sub-menu li#menu-item-195{border-bottom: 2px solid #7BE5FF;}
		#header ul ul.sub-menu li a{display: block;background-image: none;height:35px;margin:0 0 0 0;padding-top:.5em;}
		#menu-main-nav li:hover{background-color:#D55D81;height:47px;cursor:pointer;}
		#menu-main-nav li a:hover{background-color:#D55D81;}
		/*--Selected li elements--*/
		.selected{background-color:#D55D81;height:47px;padding-left:-2px;}
		.clear{clear:both;}
	/*--Home container--*/
	#home-container{}
	.home-content-slider{height: 400px;}
	.random-product-left{width:24.5%;float:left;}
	.random-product-right{width:24.5%;float:right;}
	.home-content-slider{width:50%;display:inline-block;float:left;padding: 0 5px;margin:0 auto;}
	.upper-content:after, .mid-content:after{content:"";display: block;clear:both;}
	.side-navigation{font-family:'Arial Narrow';width:200px;float:right;}
	.hlf-best-sellers{width:80%;float:left;margin:25px 0; }
	.side-navigation ul{margin-top:4em;list-style-type: none;}
	.side-navigation ul li{
		border:2px solid #4EC7E4;
		text-align: center;
		margin:.2em 0;
		height:35px;
		padding:1em;
		background-color: #006BAF;
		line-height: 1;
	}
	.side-navigation ul li:hover{background-color: #26B0D4;}
	.side-navigation ul li a{color:#fff;font-size:18px;/*font-weight: bold;*/}
	.side-navigation ul li:first-of-type, .side-navigation ul li:last-of-type{line-height: 2.2;}
	.hlf-bestsellers-header {text-align: center;color:#fff;padding:.25em;font-size:26px;margin-bottom:.5em;}
	/*gradient*/
	.hlf-home-blue-gradient{
		background: rgb(255,255,255);
		background: -moz-linear-gradient(left,  rgba(255,255,255,1) 5%, rgba(4,143,176,1) 50%, rgba(255,255,255,1) 95%);
		background: -webkit-gradient(linear, left top, right top, color-stop(5%,rgba(255,255,255,1)), color-stop(50%,rgba(4,143,176,1)), color-stop(95%,rgba(255,255,255,1)));
		background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 5%,rgba(4,143,176,1) 50%,rgba(255,255,255,1) 95%);
		background: -o-linear-gradient(left,  rgba(255,255,255,1) 5%,rgba(4,143,176,1) 50%,rgba(255,255,255,1) 95%);
		background: -ms-linear-gradient(left,  rgba(255,255,255,1) 5%,rgba(4,143,176,1) 50%,rgba(255,255,255,1) 95%);
		background: linear-gradient(to right,  rgba(255,255,255,1) 5%,rgba(4,143,176,1) 50%,rgba(255,255,255,1) 95%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 );
	}
/*-------------------------Pages Rules----------------------------------------*/
/*-------------------------Pages Rules----------------------------------------*/
	/*--Main Container of the Pages--*/
	#page-container{
		/*border:1px solid green;*/
	}
	/*--Default Rules for Categories----------------*/
	#single-page-container h2{background-color: #008CAF;color: #FFF;width: 30%;text-align: center;margin: 1em auto 0;height: 1.7em;font-size: 13pt;padding-top: .2em;}
	.categ-page .entry p,#single-page-container p,#page-container p{color:#707070;width:90%;font-size:11pt;margin:1em auto 0;text-align: left;}
	br{display:none;}
	.categ-page,#page-container{width: 100%;height: auto;text-align: center;}
	.categ-page h2, #page-container h2{margin: 1em auto;padding: 10px;text-align: center;clear: left;display: inline-block;background-color:#008CAF ;color:#fff;font-size: 13pt;}
	ul.products{list-style: none;width: 90%;margin: 1em auto;}
	ul.products li{margin: 0.5em 0 0 0em;height: 230px;width: 24.5%;float: left;border-bottom:1px solid #65D6D2;}
	/*ul.products li:nth-last-child(-n+4){border:none;}*/
	ul.products li:nth-child(4n+1):nth-last-child(-n+4), ul.products li:nth-child(4n+1):nth-last-child(-n+4) ~ li{border:none;}
	ul.products li:hover{background-color: #DEEDEA;}
	ul.products li span{margin: .5em auto;display: block;width: 90%;}
	ul.products li span.product-name{font-size: 9pt;text-align: center;color:#707070;}
	ul.products li span.product-link{height: 175px;margin: .5em auto 0px;}
	ul.products li span.product-link a{display: block;text-align: center;width:80%;margin:.6em auto 0;}

	/*--Single.php rules--*/
	div#single-page-container{border: 1px solid green;margin:0 0 .5em 0;}
	/*--User Forum rules--*/
	section.cont-forum{width:74%;border: 1px solid black;float:left;}
	aside.rsb{width:300px;border:1px solid black;float:right;}
	.user-forum{border:1px solid green;width:99.8% !important;}
	.right-nav{border:1px solid red;}
	/*--Mid Navigation--*/
	div.mid-nav{}
	div.mid-nav ul{margin:0 auto .5em;	width: 70%;list-style:none;height:5em;}
	div.mid-nav ul li{width: 10em;text-align: center;height: 4em;float: left;margin:.5em 0 0 3em;background-color: #01AEA8;border:2px solid #7BE5FF;}
	div.mid-nav ul li a{display: block;height: 3.2em;padding-top: 0.7em;color:#fff;font-size:10pt;font-weight: bold;}
	/*--mid-nav hover--*/
	div.mid-nav ul li:hover{background-color: #018984;}
	div.mid-nav ul li#menu-item-153 a,div.mid-nav ul li#menu-item-154 a{margin-top:.7em;}
	div.mid-nav ul li#menu-item-152 a{width:8em;margin:0 auto;}
	/*--A-Z--*/
	span.az-letter{color: #fff;background-color: #3BA275;display:inline-block;width:25px;height:25px;line-height:1.8;margin: 1.5em 0px 1em -49em;}
	ul.az-list{color: #3BA275;font-size: 18pt;text-align: left;margin-left: 12em;}
	.az-hr{width:95%;margin:-1.8em 0 2em 18em;width: 60%;border:0;border-bottom:1px solid #3BA275;}
	ul.az-list li{font-size:170%;font-size: 100%;margin-bottom: -.5em;}
	ul.az-list a{color: #707070;}
	.az-single-name{font-size:20px;margin:1em;margin-top:2em;}
	h3.az-single-rp{font-size:18px;margin:1em;margin-top:2em;}
	.products-az:after{content:" ";display: block;clear: both;}
	/*--Footer--*/
	#footer{background-color: #008CAF;padding:.5em;}
	#footer ul{list-style:none;margin:.5em auto .5em;width:90%;}
	#footer ul li{width:140px;float:left;text-align:center;}
	#footer ul li#menu-item-160{width:260px;}
	#footer ul li a,#footer h5{color:#fff;font-size:13pt; font-family:"Myriad Pro",arial;}
	#footer h5{font-size:12pt;text-align:center;width:31%;margin:0 auto;}
	#footer .copyright h5 a:hover{color:#D55D81 !important;}
	#footer .copyright{margin-top:.5em;}
}