/*--RWD Screen Sizes--*/

@import url('smallest.css');
@import url('smaller.css');
@import url('tablet.css');
@import url('desktop.css');

/*--Home page lower section--*/

.about_header {
  overflow: auto;
  width: 100%;
  color: #fff;
  background-color: #01aea8;
}
.about_pic {
  float: left;
  padding: .5em 1em .5em .5em;
}
.about_top {
  display: flex;
  margin: 0 1em .5em .5em;
  padding-top: .5em;
  border-bottom: 1.5px solid #fff;
}
.about_top p {
  font-size: 20px;
  float: left;
  margin-top: .8em;
  margin-right: .5em;
}
.blog_main {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-flex-flow: row;
  flex-flow: row;
  justify-content: space-around;
}
.blog_cont1 {
  font-weight: bold;
  width: 451px;
  height: 200px;
  padding: 5px;
  text-align: center;
  color: #1c6576;
margin:10px .6em 2em -1.6em
 
}
.blog_cont2 {
  font-weight: bold;
  width: 451px;
  height: 200px;
  padding: 5px;
  text-align: center;
  color: #1c6576;
  margin:10px -1.7em 2em 0
}
.blog_post {
  margin-bottom: 5px;
  transition: all .2s ease;
  border: 2px solid #63cac6;
  padding:.5em;
  height: 170px;
}
.blog_post:hover {
  background-color: #dff4ef;
}
.blog_read {
  line-height: 40px;
  transition: all .2s ease;
  color: #1c6576;
  background-color: #84e4fa;
}
.blog_read:hover {
  background-color: #3fd5f7;
}
.categ_main {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  clear: both;
  width: 100%;
  margin: 0 0 1em 0;
  padding: 0;
  list-style: none;
  -webkit-flex-flow: row;
  flex-flow: row;
  justify-content: space-around;
}
.categ_holder {
  width: 23%;
  height: auto;
  margin-top: 20px;
  padding: 5px;
  transition: all .2s ease;
  text-align: center;
  background-color: #01aea8;
}
.categ_holder:first-child{margin-left:-.5em;}
.categ_holder:last-child{margin-right:-.6em;}
.categ_holder:hover {
opacity: .6;
filter: alpha(opacity=60);
}
.categ_img {
  margin-top: .5em;
}
.categ_name h2 {
  font-family: 'Arial';
  font-size: 20px;
  font-weight: normal;
  width: 50%;
  margin: 0 auto .5em;
  color: #fff;
}
.about_ad {
  float: right;
  width: 160px;
  height: 600px;
  border: 1px solid red;
  margin: -.5em 0 0 4em;
}
.upper-frame {
  float: left;
  width: 80%;
}
